.app__header {
    width: 100%;
    height: 8rem;
}

.app__header-nav {
    width: 1200px;
    margin: 0 auto;
}


.app__header-nav-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    list-style: none;

        a {
            font-size: 2rem;
            text-decoration: none;
            color: var(--gray-color);
        }
   
    .app__header-nav-div {
        display: flex;
        gap: 20px;
    }
}