@import './global.scss';


.light {
    .nav {
        color: $gray-color;
    }
    .text {
        color: $text-dark-color;
    }
    
    .background {
        background-color: $bg-light;
    } 
}

.dark {
    .nav {
        color: $text-light-color;
    }
    .text {
        color: $text-light-color;
    }
    .background {
        background-color: $bg-dark;
    } 
}