@import '../../global.scss';

.app__explanation-content {
    @include popoverDImentions();

    article {
        margin: 3rem;

        h1 {
            text-align: center;
            text-decoration: underline;
            margin-bottom: 1.5rem;
        }

        p {
            text-align: justify;
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
    }

}