@import '../../global.scss';

.app__results-content {
    @include popoverDImentions();
    
    article {
        display: flex;
        flex-direction: column;
        margin: 3rem;

        h1 {
            text-align: center;
            text-decoration: underline;
            margin-bottom: 1.5rem;
        }

        h2{
            margin-bottom: 1.5rem;
        }

        p {
            text-align: justify;
            font-size: 2rem;
            margin-bottom: 1.5rem;
        }
        .app__results-flex {
            display: flex;
            justify-content: center;
            table, th, td {
                border:1px solid black;
                max-width: 50rem;
                height: 7rem;
                text-align: center;
                th, td{
                    width: 15rem;
                    padding: 1rem;
                    text-align: center;
                }
              }
        }
        
    }

}